 div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    table {
        width: 70vw;
        text-align: center;
            .custom{
            background-color: #283B8A;
            color: white;
            display: flex;
            td{
                flex: 1;
                border: 1px solid white;
            }
            }
            .table-row{
                display: flex;
                padding-bottom: 30px;
        td{
            flex: 1;
            border: 1px solid white;
            display: flex;
            padding: 20px;
                img{
                    padding-right: 10px;
                    }
                }
            }
        }
 }
