    <table class="AllTeams">
        <div class="custom">
            <p>Name</p><p>Pts</p><p>History</p>
        </div>    
            <div>
                <img src="../../assets/images/dutchland.png" width='30vw' alt=""><p>France: </p>
            </div>
            <div>
                <img src="../../assets/images/dutchland.png" width='30vw' alt=""><p>Mexico: </p>
            </div>
            <div>
                <img src="../../assets/images/dutchland.png" width='30vw' alt=""><p>USA: </p>
            </div>
            <div>
                <img src="../../assets/images/dutchland.png" width='30vw' alt=""><p>Belgium: </p>
            </div>
            <div>
                <img src="../../assets/images/dutchland.png" width='30vw' alt=""><p>Yugoslavia: </p>
            </div>
            <div>
                <img src="../../assets/images/dutchland.png" width='30vw' alt=""><p>Brazil: </p>
            </div>
            <div>
                <img src="../../assets/images/dutchland.png" width='30vw' alt=""><p>Romania: </p>
            </div>
            <div>
                <img src="../../assets/images/dutchland.png" width='30vw' alt=""><p>Peru: </p>
            </div>
            <div>
                <img src="../../assets/images/dutchland.png" width='30vw' alt=""><p>Argentina: </p>
            </div>
            <div>
                <img src="../../assets/images/dutchland.png" width='30vw' alt=""><p>Chile: </p>
            </div>
            <div>
                <img src="../../assets/images/dutchland.png" width='30vw' alt=""><p>Bolivia: </p>
            </div>
            <div>
                <img src="../../assets/images/dutchland.png" width='30vw' alt=""><p>Paraguay: </p>
            </div>
            <div>
                <img src="../../assets/images/dutchland.png" width='30vw' alt=""><p>Uruguay: </p>
            </div>
            <div>
                <img src="../../assets/images/dutchland.png" width='30vw' alt=""><p>Peru: </p>
            </div>
        </table>
  
 