<div>
        <table class="AllTeams">
        <tr class="custom">
            <td>Home team</td>
            <td>Score</td>
            <td>Away team</td>
        </tr>    
            <tr class="table-row"  *ngFor="let years of year">
                    <td><img src="../../assets/images/dutchland.png" width='30vw' alt=""><p>{{years.Home_Team_Name}}</p></td>
                    <td><p>{{years.Home_Team_Goals}}-{{years.Away_Team_Goals}}</p></td>
                    <td><img src="../../assets/images/dutchland.png" width='30vw' alt=""><p>{{years.Away_Team_Name}}</p></td>
            </tr>

            
         
        </table>
</div>
 