<div>
        <table class="AllTeams">
        <tr class="custom">
            <td>Home team</td>
            <td>Score</td>
            <td>Away team</td>
        </tr>    
            <tr class="table-row">
                <td><img src="../../assets/images/dutchland.png" width='30vw' alt=""><p *ngIf="year">{{year.Home_Team_Goals}} </p></td>
                <td><p>3-1</p></td>
                <td><img src="../../assets/images/dutchland.png" width='30vw' alt=""><p>France: </p></td>
            </tr>

            
         
        </table>
</div>
 