header{
    background: rgb(24,43,129);
background: linear-gradient(90deg, rgba(24,43,129,1) 38%, rgba(39,57,138,1) 57%);
width: 100vw;
height: 9rem;

nav{
    display: flex;
    justify-content: center;
img{
    height: 9rem;
    width: auto;
}
}
}