/* You can add global styles to this file, and also import other style files */

*{  
      font-family: 'PT Serif', serif;
      padding: 0;
      margin: 0;
}
body{
      background-color: #E2E5E6;
}