<section>
    <article><a href=""></a><img src="../../assets/images/dutchland.png" alt="">
    <div id="wkgegevens">
    <p>2014 | Brasil</p>
    <p>Winner: Nederland</p>
</div>
</article>
    <article><a href=""></a><img src="../../assets/images/dutchland.png" alt="">
    <div id="wkgegevens">
    <p>2014 | Brasil</p>
    <p>Winner: Nederland</p>
</div>
</article>
    <article><a href=""></a><img src="../../assets/images/dutchland.png" alt="">
    <div id="wkgegevens">
    <p>2014 | Brasil</p>
    <p>Winner: Nederland</p>
</div>
</article>
    <article><a href=""></a><img src="../../assets/images/dutchland.png" alt="">
    <div id="wkgegevens">
    <p>2014 | Brasil</p>
    <p>Winner: Nederland</p>
</div>
</article>

   
</section>