<section>
    <article><a href=""></a><img src="../../assets/images/download.jpeg" alt="">
    <div id="wkgegevens">
    <p>2014</p>
    <p>Nederland</p>
</div>
</article>
    <article><a href=""></a><img src="../../assets/images/download.jpeg" alt="">
    <div id="wkgegevens">
    <p>2014</p>
    <p>Nederland</p>
</div>
</article>
    <article><a href=""></a><img src="../../assets/images/download.jpeg" alt="">
    <div id="wkgegevens">
    <p>2014</p>
    <p>Nederland</p>
</div>
</article>
    <article><a href=""></a><img src="../../assets/images/download.jpeg" alt="">
    <div id="wkgegevens">
    <p>2014</p>
    <p>Nederland</p>
</div>
</article>
   
</section>