section{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
padding-top: 20px;
    article{
        position: relative;
        width: 20rem;
        height: auto;
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
   #wkgegevens{
     background-color: #807f8e;
     width: 100%;
     border-radius: 0px 0px 10px 10px;
p{
    color: white;
    padding: 5px 2px 5px 10px;
}
   }
    }
}